/* AnimatedDownloadButton3.css */

/* Global Wrapper for Centering and Environment */
.dlbtn-wrapper {
  /* Using this wrapper to set the background/font styles that were previously on 'body' */
  min-height: 10vh;
  font-family: Roboto, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative; /* Needed for absolute positioning of restart button */
}

/* Button Styles */
.dlbtn-button {
  /* CSS Variables */
  --duration: 4000;
  --success: #010201;
  --grey-light: #99A3BA;
  --grey: #6C7486;
  --grey-dark: #3F4656;
  --shadow: rgba(18, 22, 33, .6);
  --shadow-dark: rgba(18, 22, 33, .85);
  
  display: block;
  text-decoration: none;
  perspective: 500px;
}
.dlbtn-button > div {
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  padding: 16px 24px;
  box-shadow: 0 4px 12px var(--shadow);
}
/* Icon */
.dlbtn-icon {
  --color: var(--grey);
  margin-right: 12px;
  position: relative;
  transform: translateZ(8px);
}
.dlbtn-icon div {
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 22px;
}
.dlbtn-icon div:before,
.dlbtn-icon div:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  top: 2px;
  transition: opacity .3s ease;
}
.dlbtn-icon div:before {
  left: 6px;
  background-image: radial-gradient(circle at 0 100%, var(--color) 2px, #fff 0px);
}
.dlbtn-icon div:after {
  right: 6px;
  background-image: radial-gradient(circle at 100% 100%, var(--color) 2px, #fff 0px);
}
.dlbtn-icon div svg {
  width: 20px;
  height: 18px;
  display: block;
  margin-top: 2px;
  position: relative;
  z-index: 1;
}
.dlbtn-icon div svg.dlbtn-arrow {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transform: translateY(-1px);
}
.dlbtn-icon div svg.dlbtn-shape {
  color: var(--color);
  transition: color .4s ease;
}
.dlbtn-icon span {
  --s: 1;
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 2px;
  background: var(--color);
  height: 6px;
  border-radius: 50%;
  display: block;
  transform: translateY(0) scale(var(--s));
}
/* Label */
.dlbtn-label {
  --color: var(--grey-dark);
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color);
  position: relative;
  transition: color .4s ease, width 0.2s ease; /* Include width transition */
  transform: translateZ(8px);
}
.dlbtn-label > div {
  display: flex;
  transition: opacity .25s ease;
}
.dlbtn-label > div:not(.dlbtn-show) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.dlbtn-label > div.dlbtn-hide {
  opacity: 0;
}
.dlbtn-label > div.dlbtn-show {
  opacity: 1;
}
/* Counter */
.dlbtn-label > div .dlbtn-counter {
  overflow: hidden;
  display: flex;
  height: 18px;
  line-height: 18px;
  margin: 2px 0;
  position: relative;
  transition: opacity .3s ease, width .4s ease;
}
.dlbtn-label > div .dlbtn-counter:before,
.dlbtn-label > div .dlbtn-counter:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 1;
}
.dlbtn-label > div .dlbtn-counter:before {
  top: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.dlbtn-label > div .dlbtn-counter:after {
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.dlbtn-label > div .dlbtn-counter span {
  display: inline-block;
  margin: 0 4px 0 2px;
}
.dlbtn-label > div .dlbtn-counter ul {
  --y: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 10px;
  height: 18px;
  -webkit-backface-visibility: hidden;
  transform: translateY(var(--y)) translateZ(0);
}
.dlbtn-label > div .dlbtn-counter ul:nth-child(1) {
  transition: transform calc(var(--duration) * 0.2ms) ease-in-out;
}
.dlbtn-label > div .dlbtn-counter ul:nth-child(2) {
  transition: transform calc(var(--duration) * 0.8ms) ease-in-out;
}
.dlbtn-label > div .dlbtn-counter ul:nth-child(3) {
  transition: transform calc(var(--duration) * 0.8ms) ease-in-out;
}
.dlbtn-label > div .dlbtn-counter ul li {
  width: 10px;
  height: 18px;
}
.dlbtn-label > div .dlbtn-counter.dlbtn-hide {
  opacity: 0;
}
/* Progress Bar */
.dlbtn-progress {
  --s: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  transform-origin: 50% 100%;
  transform: scaleY(var(--s));
  transition: transform .4s ease;
}
.dlbtn-progress:before,
.dlbtn-progress:after {
  --s: 1;
  content: '';
  background: var(--success);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0 50%;
  transform: scaleX(var(--s));
}
.dlbtn-progress:before {
  opacity: 0.35;
}
.dlbtn-progress:after {
  --s: 0;
  transition: transform calc(var(--duration) * 0.9ms) ease-in-out;
}
/* Active State */
.dlbtn-button.dlbtn-active > div {
  animation: dlbtn-button-anim calc(var(--duration) * 1ms) linear forwards;
}
.dlbtn-button.dlbtn-active > div .dlbtn-icon div:before,
.dlbtn-button.dlbtn-active > div .dlbtn-icon div:after {
  opacity: 0;
  transition-delay: 0.4s;
}
.dlbtn-button.dlbtn-active > div .dlbtn-icon svg.dlbtn-arrow {
  animation: dlbtn-arrow-anim calc(var(--duration) * 0.18ms) linear 4 calc(var(--duration) * 0.2ms);
}
.dlbtn-button.dlbtn-active > div .dlbtn-icon span {
  animation: dlbtn-span-anim calc(var(--duration) * 0.18ms) linear 4 calc(var(--duration) * 0.2ms);
}
.dlbtn-button.dlbtn-active > div .dlbtn-label > div .dlbtn-counter ul:nth-child(1) {
  --y: -18px;
  transition-delay: calc(var(--duration) * 0.72ms);
}
.dlbtn-button.dlbtn-active > div .dlbtn-label > div .dlbtn-counter ul:nth-child(2) {
  --y: -180px;
  transition-delay: calc(var(--duration) * 0.09ms);
  animation: dlbtn-motion-anim calc(var(--duration) * 0.5ms) linear forwards calc(var(--duration) * 0.19ms);
}
.dlbtn-button.dlbtn-active > div .dlbtn-label > div .dlbtn-counter ul:nth-child(3) {
  --y: -540px;
  transition-delay: calc(var(--duration) * 0.075ms);
  animation: dlbtn-motion-anim calc(var(--duration) * 0.8ms) linear forwards calc(var(--duration) * 0.075ms);
}
.dlbtn-button.dlbtn-active > div .dlbtn-progress {
  --s: 1;
  transition-delay: 0.4s;
}
.dlbtn-button.dlbtn-active > div .dlbtn-progress:after {
  --s: 1;
  transition-delay: 0.4s;
}
/* Done State */
.dlbtn-button.dlbtn-done > div .dlbtn-icon {
  --color: var(--success);
}
.dlbtn-button.dlbtn-done > div .dlbtn-label {
  --color: var(--success);
}
.dlbtn-button.dlbtn-done > div .dlbtn-label .dlbtn-counter {
  width: 0;
}
.dlbtn-button.dlbtn-done + .dlbtn-restart {
  opacity: 1;
  visibility: visible;
}

/* Keyframes - Renamed to be unique */
@keyframes dlbtn-arrow-anim {
  0%, 100% {
    transform: translateY(-1px);
    opacity: 1;
  }
  38% {
    transform: translateY(100%);
    opacity: 1;
  }
  39% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  41% {
    transform: translateY(-100%);
    opacity: 1;
  }
}
@keyframes dlbtn-span-anim {
  0%, 100% {
    transform: translateY(0) scale(var(--s));
  }
  25% {
    transform: translateY(2px) scale(var(--s));
  }
  55% {
    transform: translateY(2px) scale(var(--s));
  }
}
@keyframes dlbtn-motion-anim {
  0%, 100% {
    filter: blur(0px);
  }
  20%, 70% {
    filter: blur(0.4px);
  }
}
@keyframes dlbtn-button-anim {
  0% {
    transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
  }
  10% {
    transform: translateX(0) translateZ(0) scale(0.96) rotateY(0deg);
    box-shadow: 0 4px 8px var(--shadow-dark);
  }
  20% {
    transform: translateX(-16px) translateZ(32px) scale(1) rotateY(-16deg);
    box-shadow: 4px 12px 20px var(--shadow-dark);
  }
  85% {
    transform: translateX(16px) translateZ(32px) scale(1) rotateY(16deg);
    box-shadow: -4px 12px 20px var(--shadow-dark);
  }
  95% {
    transform: translateX(0) translateZ(0) scale(1.12) rotateY(0deg);
    box-shadow: 0 8px 24px var(--shadow-dark);
  }
  100% {
    transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
  }
}

/* Restart Button */
.dlbtn-restart {
  --grey-dark: #3F4656;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--grey-dark);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease;
}
.dlbtn-restart svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
}

/* Dribbble Link */
.dlbtn-dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dlbtn-dribbble img {
  display: block;
  height: 28px;
}